In [1]:
from shotgun_api3 import Shotgun
import pandas as pd

sg = Shotgun(r'https://windsunsky.shotgunstudio.com/',r'asset_library',r'xxfwr@dajolsinoowf6szzsyJ')

In [2]:
df = pd.read_excel (r'C:\Users\shassan.SBNORTH\Documents\shot_webhook\PSC1_104_EDL TEST.xlsx')
print(df)

        EDL Document  Edit Event Source Track Transition  Trans Dur  \
0  PSC1_104_EDL TEST           1     AX     V          C        NaN
1  PSC1_104_EDL TEST           2     AX     V          C        NaN
2  PSC1_104_EDL TEST           3     AX     V          C        NaN
3  PSC1_104_EDL TEST           4     AX     V          C        NaN
4  PSC1_104_EDL TEST           5     AX     V          C        NaN
5  PSC1_104_EDL TEST           6     AX     V          C        NaN

  Source TC In Source TC Out Source Duration Program TC In Program TC Out  \
0  01:00:00:00   01:00:03:08     00:00:03:08   01:00:00:01    01:00:03:09
1  01:00:00:00   01:00:01:18     00:00:01:18   01:00:03:09    01:00:05:03
2  01:00:00:00   01:00:01:20     00:00:01:20   01:00:05:03    01:00:06:23
3  01:00:00:00   01:00:05:19     00:00:05:19   01:00:06:23    01:00:12:18
4  01:00:00:00   01:00:02:22     00:00:02:22   01:00:12:18    01:00:15:16
5  01:00:00:00   01:00:02:14     00:00:02:14   01:00:15:16    01:00:18:06

  Program Duration                           Comments
0      00:00:03:08  * FROM CLIP NAME: PSC1_104_SC_001
1      00:00:01:18  * FROM CLIP NAME: PSC1_104_SC_002
2      00:00:01:20  * FROM CLIP NAME: PSC1_104_SC_003
3      00:00:05:19  * FROM CLIP NAME: PSC1_104_SC_004
4      00:00:02:22  * FROM CLIP NAME: PSC1_104_SC_005
5      00:00:02:14  * FROM CLIP NAME: PSC1_104_SC_006

In [3]:

df = df.drop(['Edit Event','Source','Track','Transition', 'Trans Dur', 'Source TC In' ,'Source TC Out','Source Duration'], axis=1)
mydf = pd.DataFrame(data= df, index = range(len(df)))
print(mydf)

        EDL Document Program TC In Program TC Out Program Duration  \
0  PSC1_104_EDL TEST   01:00:00:01    01:00:03:09      00:00:03:08
1  PSC1_104_EDL TEST   01:00:03:09    01:00:05:03      00:00:01:18
2  PSC1_104_EDL TEST   01:00:05:03    01:00:06:23      00:00:01:20
3  PSC1_104_EDL TEST   01:00:06:23    01:00:12:18      00:00:05:19
4  PSC1_104_EDL TEST   01:00:12:18    01:00:15:16      00:00:02:22
5  PSC1_104_EDL TEST   01:00:15:16    01:00:18:06      00:00:02:14

                            Comments
0  * FROM CLIP NAME: PSC1_104_SC_001
1  * FROM CLIP NAME: PSC1_104_SC_002
2  * FROM CLIP NAME: PSC1_104_SC_003
3  * FROM CLIP NAME: PSC1_104_SC_004
4  * FROM CLIP NAME: PSC1_104_SC_005
5  * FROM CLIP NAME: PSC1_104_SC_006

In [4]:
new = mydf['Comments'].str.split(": ", n=1, expand = True)
mydf['name'] = new[1]
mydf.drop(columns=['Comments'], inplace=True)
mydf

,EDL Document,Program TC In,Program TC Out,Program Duration,name
0,PSC1_104_EDL TEST,01:00:00:01,01:00:03:09,00:00:03:08,PSC1_104_SC_001
1,PSC1_104_EDL TEST,01:00:03:09,01:00:05:03,00:00:01:18,PSC1_104_SC_002
2,PSC1_104_EDL TEST,01:00:05:03,01:00:06:23,00:00:01:20,PSC1_104_SC_003
3,PSC1_104_EDL TEST,01:00:06:23,01:00:12:18,00:00:05:19,PSC1_104_SC_004
4,PSC1_104_EDL TEST,01:00:12:18,01:00:15:16,00:00:02:22,PSC1_104_SC_005
5,PSC1_104_EDL TEST,01:00:15:16,01:00:18:06,00:00:02:14,PSC1_104_SC_006

In [5]:
mydf.rename(columns={'Program TC In':'start', 'Program Duration':'duration', 'Program TC Out':'end'}, inplace=True)
for index, row in mydf.iterrows():
    print(row.to_dict())

{'EDL Document': 'PSC1_104_EDL TEST', 'start': '01:00:00:01', 'end': '01:00:03:09', 'duration': '00:00:03:08', 'name': 'PSC1_104_SC_001'}
{'EDL Document': 'PSC1_104_EDL TEST', 'start': '01:00:03:09', 'end': '01:00:05:03', 'duration': '00:00:01:18', 'name': 'PSC1_104_SC_002'}
{'EDL Document': 'PSC1_104_EDL TEST', 'start': '01:00:05:03', 'end': '01:00:06:23', 'duration': '00:00:01:20', 'name': 'PSC1_104_SC_003'}
{'EDL Document': 'PSC1_104_EDL TEST', 'start': '01:00:06:23', 'end': '01:00:12:18', 'duration': '00:00:05:19', 'name': 'PSC1_104_SC_004'}
{'EDL Document': 'PSC1_104_EDL TEST', 'start': '01:00:12:18', 'end': '01:00:15:16', 'duration': '00:00:02:22', 'name': 'PSC1_104_SC_005'}
{'EDL Document': 'PSC1_104_EDL TEST', 'start': '01:00:15:16', 'end': '01:00:18:06', 'duration': '00:00:02:14', 'name': 'PSC1_104_SC_006'}